<mat-card>
  <mat-card-header class="day-info-card-header">
    <mat-card-title>{{data.date | date:'fullDate'}}</mat-card-title>
    <mat-card-subtitle>{{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div echarts [options]="chartOption" class="demo-chart"></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="selectDay()" class="me-2 flex-grow-1">
      <mat-icon>check</mat-icon>
      {{'BOOKING.Entry.Select' | translate}}
    </button>
    <a mat-stroked-button color="primary" routerLink="./details/{{data.date}}" class="flex-grow-1">
      <mat-icon>info</mat-icon>
      {{'ACTION.Details' | translate}}
    </a>
  </mat-card-actions>
</mat-card>
