<mat-card>
  <mat-card-header>
    <mat-card-title>{{data.date | date:'fullDate'}}</mat-card-title>
    <mat-card-subtitle>{{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="fxLayoutColumn">
      <div class="fxLayoutRow fxLayoutAlignCenterStretch">
        <mat-icon matListItemIcon class="fxFlex">event</mat-icon>
        <p class="fxFlex">{{data.amountOfOfferTotal}}</p>
        <p class="fxFlex">{{data.amountOfSpaceTotal}}</p>
      </div>
      <div class="fxLayoutRow fxLayoutAlignCenterStretch">
        <mat-icon matListItemIcon class="fxFlex">event_available</mat-icon>
        <p class="fxFlex">{{data.amountOfOfferAvailable}}</p>
        <p class="fxFlex">{{data.amountOfSpaceAvailable}}</p>
      </div>
      <div class="fxLayoutRow fxLayoutAlignCenterStretch">
        <mat-icon matListItemIcon class="fxFlex">event_busy</mat-icon>
        <p class="fxFlex">{{data.amountOfOfferBooked}}</p>
        <p class="fxFlex">{{data.amountOfSpaceBooked}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="fxFlex"></div>
    <mat-slide-toggle class="fxFlex" (toggleChange)="toggleSelection()" [(ngModel)]="selected">{{'BOOKING.Entry.Select' | translate}}</mat-slide-toggle>
    <div class="fxFlex"></div>
  </mat-card-actions>
</mat-card>
