<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<div class="container d-flex flex-row">
  <ng-container *ngFor="let b of bookings">
    <mat-card class="booking-card" (click)="showDetails(b)">
      <mat-card-content>
        <app-visitor-group-admin-entry [data]="b.visitorGroup" [infoVisible]="false" [statusVisible]="false"></app-visitor-group-admin-entry>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<p *ngIf="bookings.length <= 0">{{'BOOKING.Entry.Empty' | translate}}</p>
