<div class="container">
  <div class="row align-items-center">
    <div class="col-7"><h3>{{'BOOKING.Create.Step.VisitorGroup.Header' | translate}}</h3></div>
    <div class="col-4">
      <mat-chip [highlighted]="true">{{data.status}}</mat-chip>
    </div>
    <div class="col-1">
      <button mat-icon-button (click)="showDetails()">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">{{'BOOKING.Create.Form.VisitorGroup.Title' | translate}}:</div>
    <div class="col-9">{{data.title}}</div>
  </div>
  <div class="row">
    <div class="col-3">{{'BOOKING.Create.Form.VisitorGroup.Size' | translate}}:</div>
    <div class="col-2">{{data.size}}</div>
  </div>
  <div class="row">
    <div class="col-3">{{'BOOKING.Create.Form.VisitorGroup.Mail' | translate}}:</div>
    <div class="col-2">{{data.email}}</div>
  </div>
  <div class="row">
    <div class="col-3">{{'BOOKING.Create.Form.VisitorGroup.Phone' | translate}}:</div>
    <div class="col-2">{{data.phone}}</div>
  </div>
  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="!confirming; else mailConfirming">
        <button mat-stroked-button *ngIf="data.status != 'CONFIRMED'" (click)="confirm()">
          <mat-icon>mail</mat-icon>
          {{'REQUEST.Action.MailConfirm'|translate}}
        </button>
      </ng-container>
      <ng-template #mailConfirming>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </div>
  </div>
</div>
