<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<div class="container d-flex flex-column">
  <form [formGroup]="formGroup">
    <div class="d-flex flex-column gap-2 pt-2">

      <mat-form-field class="fxFlex" *ngIf="offer" appearance="fill">
        <mat-label>{{'REQUEST.Form.SelectedDate.Label' | translate}}</mat-label>
        <input matInput type="text" [value]="offer.offer.start | date:'medium'" [readonly]="true">
      </mat-form-field>

      <mat-form-field class="fxFlex">
        <mat-label>{{'REQUEST.Form.Title.Label' | translate}}</mat-label>
        <input matInput type="text" formControlName="title">
        <mat-hint class="hint" align="start">{{'REQUEST.Form.Title.Hint' | translate}}</mat-hint>
      </mat-form-field>
      <div class="form-group gap-3">
        <mat-form-field class="column50">
          <mat-label>{{'REQUEST.Form.Size.Label' | translate}}</mat-label>
          <input matInput type="number" formControlName="size" [disabled]="groupBookingSelected" [placeholder]="spacePlaceholder">
          <mat-hint class="hint" align="start">{{'REQUEST.Form.Size.Hint' | translate}}</mat-hint>
          <mat-error *ngIf="size?.hasError('min')">
            {{'REQUEST.Form.Size.Error.Min' | translate}}
          </mat-error>
          <mat-error *ngIf="size?.hasError('max')">
            {{'REQUEST.Form.Size.Error.Max' | translate}}
          </mat-error>
        </mat-form-field>
        <div class="column50" *ngIf="groupBookingPossible">
          <mat-slide-toggle formControlName="group" (change)="handleGroupBookingChange($event)">
            {{'REQUEST.Form.School.Label' | translate}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-group gap-3">
        <mat-form-field class="column50">
          <mat-label>{{'REQUEST.Form.MinAge.Label' | translate}}</mat-label>
          <input matInput type="number" formControlName="minAge">
          <mat-hint class="hint" align="start">{{'REQUEST.Form.MinAge.Hint' | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="column50">
          <mat-label>{{'REQUEST.Form.MaxAge.Label' | translate}}</mat-label>
          <input matInput type="number" formControlName="maxAge">
          <mat-hint class="hint" align="start">{{'REQUEST.Form.MaxAge.Hint' | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <mat-form-field class="fxFlex">
        <mat-label>{{'REQUEST.Form.Contact.Label' | translate}}</mat-label>
        <input matInput type="text" formControlName="contact">
        <mat-hint class="hint" align="start">{{'REQUEST.Form.Contact.Hint' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="fxFlex">
        <mat-label>{{'REQUEST.Form.Street.Label' | translate}}</mat-label>
        <input matInput type="text" formControlName="street">
      </mat-form-field>

      <div class="form-group gap-3">
        <mat-form-field class="fxFlexNoGrow">
          <mat-label>{{'REQUEST.Form.Zip.Label' | translate}}</mat-label>
          <input matInput type="text" formControlName="zip">
        </mat-form-field>
        <mat-form-field class="fxFlex">
          <mat-label>{{'REQUEST.Form.City.Label' | translate}}</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>

      <div class="form-group gap-3">
        <mat-form-field class="fxFlex">
          <mat-label>{{'REQUEST.Form.Phone.Label' | translate}}</mat-label>
          <input matInput type="text" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="fxFlex">
          <mat-label>{{'REQUEST.Form.Mail.Label' | translate}}</mat-label>
          <input matInput type="email" formControlName="mail" email>
        </mat-form-field>
      </div>

      <div class="form-group gap-3">
        <div class="fxFlex">
          <mat-slide-toggle formControlName="termsAndConditions">{{'REQUEST.Form.TermsAndConditions.Label' | translate}}</mat-slide-toggle>
        </div>
        <div>
          <button mat-stroked-button (click)="showTermsAndConditions()" color="primary"><mat-icon>attach_file</mat-icon>{{'REQUEST.Form.TermsAndConditions.Show' | translate}}</button>
        </div>
      </div>
      <mat-form-field class="fxFlex">
        <mat-label>{{'REQUEST.Form.Comment.Label' | translate}}</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-hint class="hint" align="start">{{'REQUEST.Form.Comment.Hint' | translate}}</mat-hint>
      </mat-form-field>

      <div class="d-flex flex-row gap-3">
        <button mat-flat-button (click)="back()" color="warn">
          <mat-icon>arrow_back</mat-icon>
          {{'ACTION.Back' | translate}}
        </button>
        <button mat-flat-button color="primary" (click)="submit()" [disabled]="formGroup.invalid">
          <mat-icon>check</mat-icon>
          {{'REQUEST.Action.Submit' | translate}}</button>
      </div>
    </div>
  </form>
</div>
