.column50 {
  flex: 1 1 calc(50% - 1rem)
}

.form-group {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .form-group {
    flex-direction: column;
  }
}


.hint {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.4px;
  font-width: 400;
}
