<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<mat-toolbar>
  <div class="container d-flex flex-row align-items-baseline">
    <div class="pe-5">
      <button mat-mini-fab (click)="back()" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div *ngIf="offer">
      <p>{{offer.offer.start | date:'short'}}</p>
    </div>
  </div>
</mat-toolbar>
<div class="container d-flex flex-column">
  <form [formGroup]="formGroup">
    <div class="d-flex flex-column gap-2 pt-2">
      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Title' | translate}}</mat-label>
        <input matInput type="text" formControlName="title">
      </mat-form-field>
      <div class="d-flex flex-row align-items-baseline gap-3">
        <mat-form-field class="column50">
          <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Size' | translate}}</mat-label>
          <input matInput type="number" formControlName="size" [disabled]="groupBookingSelected">
          <mat-error *ngIf="size?.hasError('min')">
            {{'BOOKING.Create.Form.VisitorGroup.Error.Min' | translate}}
          </mat-error>
          <mat-error *ngIf="size?.hasError('max')">
            {{'BOOKING.Create.Form.VisitorGroup.Error.Max' | translate}}
          </mat-error>
        </mat-form-field>
        <div class="column50" *ngIf="groupBookingPossible">
          <mat-slide-toggle formControlName="group" (change)="handleGroupBookingChange($event)">
            {{'BOOKING.Create.Form.VisitorGroup.School' | translate}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="d-flex flex-row align-items-baseline gap-3">
        <mat-form-field class="column50">
          <mat-label>{{'BOOKING.Create.Form.VisitorGroup.MinAge' | translate}}</mat-label>
          <input matInput type="number" formControlName="minAge">
        </mat-form-field>
        <mat-form-field class="column50">
          <mat-label>{{'BOOKING.Create.Form.VisitorGroup.MaxAge' | translate}}</mat-label>
          <input matInput type="number" formControlName="maxAge">
        </mat-form-field>
      </div>
      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Contact' | translate}}</mat-label>
        <input matInput type="text" formControlName="contact">
      </mat-form-field>
      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Street' | translate}}</mat-label>
        <input matInput type="text" formControlName="street">
      </mat-form-field>

      <div class="d-flex flex-row align-items-baseline gap-3">
        <mat-form-field class="fxFlexNoGrow">
          <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Zip' | translate}}</mat-label>
          <input matInput type="text" formControlName="zip">
        </mat-form-field>
        <mat-form-field class="fxFlex">
          <mat-label>{{'BOOKING.Create.Form.VisitorGroup.City' | translate}}</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>

      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Phone' | translate}}</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Mail' | translate}}</mat-label>
        <input matInput type="email" formControlName="mail" email>
      </mat-form-field>

      <div class="fxFlex">
        <mat-slide-toggle formControlName="termsAndConditions">{{'BOOKING.Create.Form.Finalize.TermsAndConditions' | translate}}</mat-slide-toggle>
      </div>
      <mat-form-field class="fxFlex">
        <mat-label>{{'BOOKING.Create.Form.Finalize.Comment' | translate}}</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>


      <button mat-flat-button color="primary" (click)="submit()" [disabled]="formGroup.invalid">
        <mat-icon>check</mat-icon>
        {{'BOOKING.Create.Action.Submit' | translate}}</button>
    </div>
  </form>
</div>
