.booking-request-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 10px;
}

.booking-request-card {
  flex: 1 1 calc(33% - 10px);
  max-width: 550px;
}

.mat-column-timestamp {
  border-right: 1px solid currentColor;
  max-width: 150px;
  text-align: center;
}
.mat-column-visitorGroup {
  border-right: 1px solid currentColor;
}
.mat-column-bookings {
  border-right: 1px solid currentColor;
}
