@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

.fx-column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
}

.fxLayoutRow {
  display: flex;
  flex-direction: row;
}


.fxLayoutRowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fxLayoutColumn {
  display: flex;
  flex-direction: column;
}

.fxLayoutAlignStartStretch {
  justify-content: flex-start;
  align-items: stretch;
}

.fxLayoutAlignCenterStretch {
  justify-content: stretch;
  align-items: center;
}

.fxLayoutAlignStretchCenter {
  justify-content: center;
  align-items: stretch;
}

.fxFlexFill {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.fxFlexGap {
  gap: 10px;
}

.fxFlex {
  flex: 1 1 auto;
}

.fxFlexNoGrow {
  flex: 0 1 auto;
}

.container {
  padding: 10px;
}



// workaround for angular 15  https://github.com/ngneat/hot-toast/issues/113
@keyframes hotToastEnterAnimationNegative {
  0% {
    opacity: 0.5;
    transform: translate3d(0, -80px, 0) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes hotToastEnterAnimationPositive {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 80px, 0) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes hotToastExitAnimationPositive {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, -1px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 130px, -1px) scale(0.5);
  }
}

@keyframes hotToastExitAnimationNegative {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, -1px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -130px, -1px) scale(0.5);
  }
}
