<div class="fxLayoutColumn fxLayoutAlignStretchCenter fxFlexGap" style="padding-top:10px;">
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'REQUEST.Form.Title.Label' | translate}}</mat-label>
    <input matInput type="text" [value]="data.title" [readonly]="true">
  </mat-form-field>
  <div class="fxLayoutRow fxLayoutAlignStretchCenter fxFlexGap">
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'REQUEST.Form.Size.Label' | translate}}</mat-label>
      <input matInput type="number" [value]="data.size.toString()" [readonly]="true">
    </mat-form-field>
    <mat-checkbox [checked]="data.isGroup" disabled>
      {{'REQUEST.Form.School.Label' | translate}}
    </mat-checkbox>
  </div>
  <div class="fxLayoutRow fxLayoutAlignStretchCenter fxFlexGap">
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'REQUEST.Form.MinAge.Label' | translate}}</mat-label>
      <input matInput type="number" [value]="data.minAge.toString()" [readonly]="true">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'REQUEST.Form.MaxAge.Label' | translate}}</mat-label>
      <input matInput type="number" [value]="data.maxAge.toString()" [readonly]="true">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'REQUEST.Form.Contact.Label' | translate}}</mat-label>
    <input matInput type="text" [value]="data.contact" [readonly]="true">
  </mat-form-field>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'REQUEST.Form.Street.Label' | translate}}</mat-label>
    <input matInput type="text" [value]="data.address.street" [readonly]="true">
  </mat-form-field>

  <div class="fxLayoutRow fxLayoutAlignStretchCenter fxFlexGap">
    <mat-form-field appearance="outline" class="fxFlexNoGrow">
      <mat-label>{{'REQUEST.Form.Zip.Label' | translate}}</mat-label>
      <input matInput type="text" [value]="data.address.zip" [readonly]="true">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'REQUEST.Form.City.Label' | translate}}</mat-label>
      <input matInput type="text" [value]="data.address.city" [readonly]="true">
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'REQUEST.Form.Phone.Label' | translate}}</mat-label>
    <input matInput type="text" [value]="data.phone" [readonly]="true">
  </mat-form-field>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'REQUEST.Form.Mail.Label' | translate}}</mat-label>
    <input matInput type="text" [value]="data.email" [readonly]="true">
  </mat-form-field>
</div>
