<h2 mat-dialog-title>{{title | translate}}</h2>

<mat-dialog-content [formGroup]="form">
  <ng-container *ngIf="!loading; else showLoading">
  <div class="d-flex flex-column container">
    <mat-form-field appearance="outline">
      <mat-label>{{'OFFER.Form.Date' | translate}}</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <div class="d-flex flex-row align-self-stretch">
      <mat-form-field appearance="outline" class="flex-grow-1 me-3">
        <mat-label>{{'OFFER.Form.StartTime' | translate}}</mat-label>
        <input matInput type="time" formControlName="startTime" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>{{'OFFER.Form.EndTime' | translate}}</mat-label>
        <input matInput type="time" formControlName="endTime" required>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{'OFFER.Form.MaxPersons' | translate}}</mat-label>
      <input matInput type="number" formControlName="maxPersons">
    </mat-form-field>

    <mat-checkbox formControlName="active">{{'OFFER.Form.Active' | translate}}</mat-checkbox>
  </div>
  </ng-container>
  <ng-template #showLoading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()" class="me-3" [disabled]="loading">
    <mat-icon>save</mat-icon>
    {{"ACTION.Submit" | translate}}
  </button>
  <button mat-stroked-button color="warn" (click)="close()" [disabled]="loading">
    <mat-icon>cancel</mat-icon>
    {{'ACTION.Cancel' | translate}}</button>
</mat-dialog-actions>
