<mat-card>
  <mat-card-header>
    <h4>{{'REQUEST.Table.Bookings' | translate}}</h4>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column gap-3">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let booking of data.bookings">
        <mat-icon matListItemIcon>bookmark</mat-icon>
        <div class="d-flex flex-row gap-2 align-items-center">
          <div class="col-3">{{booking.offer.start | date:'medium'}}</div>
          <div class="col-3">
            <mat-chip>{{'BOOKING.Status.' + booking.status | translate}}</mat-chip>
          </div>
          <div>{{data.visitorGroup.size}} / {{booking.spaceAvailable}}</div>
          <div class="flex-fill"></div>
          <div>
            <button mat-icon-button color="accent" (click)="confirm(booking)" *ngIf="booking.status != 'CONFIRMED'">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="denial(booking)" *ngIf="booking.status != 'DENIED'">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
