<mat-toolbar>
  <button mat-stroked-button class="me-2" (click)="create()">
    <mat-icon>add</mat-icon>
    {{'BOOKING.Action.Create' | translate}}</button>
</mat-toolbar>
<div class="d-flex p-2 container-fluid">
  <div class="day-info-container col-12">
    <ng-container *ngFor="let data of this.dayInfoService.data">
      <mat-card class="day-info-card">
        <mat-card-header class="day-info-card-header">
          <mat-card-title>{{data.date | date:'fullDate'}}</mat-card-title>
          <mat-card-subtitle>{{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="fxFlex"></div>
          <a mat-flat-button color="primary" routerLink="./day/{{data.date}}" class="me-2">
            <mat-icon>bookmarks</mat-icon>
            {{'OFFER.Action.ShowBookings' | translate}}
          </a>
          <a mat-flat-button color="primary" routerLink="../offer/print/{{data.date}}">
            <mat-icon>print</mat-icon>
            {{'OFFER.Action.Print' | translate}}
          </a>
          <div class="fxFlex"></div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>

