<div class="fxLayoutRow fxFlexGap fxLayoutAlignStretchCenter">
  <mat-form-field appearance="fill" class="date-range-selector fxFlex">
    <mat-label>{{'DAY_INFO.SelectRange.Title' | translate}}</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
      <input matStartDate formControlName="start" placeholder="{{'DAY_INFO.SelectRange.StartDate' | translate}}">
      <input matEndDate formControlName="end" placeholder="{{'DAY_INFO.SelectRange.EndDate' | translate}}">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button mat-icon-button (click)="clearSelection()" class="fxFlex">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
