<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<div class="container d-flex flex-row">
  <ng-container *ngFor="let b of data">
    <div class="booking-entry p-2 flex-column {{b.booking.status}}" (click)="showDetails(b)">
      <div>{{b.visitorGroup.title}}</div>
      <div>{{b.visitorGroup.contact}}</div>
      <div class="d-flex flex-row gap-2">
        <mat-icon>person</mat-icon>
        <div>{{b.visitorGroup.size}}</div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="bookings.length <= 0">{{'BOOKING.Entry.Empty' | translate}}</div>
</div>

