.booking-entry {
  border-radius: 5px;
  border: #0000001f solid 1px;
  flex: 0 1 auto;
  min-width: 200px;
}

.booking-entry:hover {
  background-color: rgba(33, 33, 33, 0.1);
}

.CONFIRMED {
  border-left: green solid 4px !important;
}

.UNCONFIRMED {
  border-left: orange solid 4px !important;
}

.UNKNOWN {
  border-left: red solid 4px !important;
}
