.day-info-card {
  flex: 0 1 calc(250px - 10px);
}


.day-info-card-header {
  background-color: rgba(33, 33, 33, 0.1);
  padding: 8px !important;
  justify-content: center;
  align-items: center;
}

.day-info-card-header > mat-card-title {
  flex: 1 1 auto !important;
}

.day-info-card-header > mat-card-subtitle {
  flex: 1 1 auto !important;
}

.demo-chart {
  height: 100px;
}
