<mat-card class="day-info-card">
  <mat-card-header class="day-info-card-header">
    <mat-card-title>{{data.date | date:'fullDate'}}</mat-card-title>
    <mat-card-subtitle>{{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="fxFlex"></div>
    <a mat-flat-button color="primary" routerLink="./day/{{data.date}}" class="me-2" disabled>
      <mat-icon>info</mat-icon>
      {{'OFFER.Action.Details' | translate}}
    </a>
    <a mat-flat-button color="primary" routerLink="../booking/day/{{data.date}}" class="me-2">
      <mat-icon>bookmarks</mat-icon>
      {{'OFFER.Action.ShowBookings' | translate}}
    </a>
    <a mat-flat-button color="primary" (click)="exportPdf(data)">
      <mat-icon>picture_as_pdf</mat-icon>
      {{'OFFER.Action.Export_PDF' | translate}}
    </a>
    <div class="fxFlex"></div>
  </mat-card-actions>
</mat-card>
