<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<div class="d-flex flex-column p-0 container-fluid">
  <div class="d-flex flex-row px-2 pt-2 pb-0">
    <form [formGroup]="filterForm">
      <div class="d-flex flex-row gap-3 align-items-start align-content-start p-0">
        <mat-form-field appearance="outline">
          <mat-label>{{'REQUEST.Filter.Date' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="offerDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'REQUEST.Filter.VisitorStatus' | translate}}</mat-label>
          <mat-select formControlName="visitorGroupStatus">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let status of visitorGroupStatus" [value]="status">
              <app-visitor-group-status [status]="status"></app-visitor-group-status>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-5 pb-0" appearance="outline">
          <mat-label>{{'REQUEST.Action.Search' | translate}}</mat-label>
          <input matInput placeholder="" #input [disabled]="reloading" formControlName="query">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-fab (click)="applyFilter()">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <button mat-fab (click)="clearFilter()" *ngIf="filter">
          <mat-icon>filter_alt_off</mat-icon>
        </button>
      </div>
    </form>

    <div class="flex-fill"></div>
    <div>
      <button mat-fab extended class="mt-1" routerLink="./create">
        <mat-icon>add_circle</mat-icon>
        {{'REQUEST.Action.Create' | translate}}
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>{{'REQUEST.Table.Timestamp' | translate}}</th>
      <td mat-cell *matCellDef="let request">{{request.timestamp + 'Z' | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="visitorGroup">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex flex-row align-content-center">
          <div>{{'REQUEST.Table.VisitorGroup' | translate}}</div>
          <div class="flex-grow-1"></div>
          <div>
            <mat-slide-toggle [checked]="showVisitorGroupDetails" (change)="showVisitorGroupDetailsChanged($event)"></mat-slide-toggle>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let request">
        <app-request-board-visitor-group-cell [data]="request.visitorGroup" [showDetails]="showVisitorGroupDetails"></app-request-board-visitor-group-cell>
      </td>
    </ng-container>

    <ng-container matColumnDef="bookings">
      <th mat-header-cell *matHeaderCellDef>{{'REQUEST.Table.Bookings' | translate}}</th>
      <td mat-cell *matCellDef="let request">
        <app-request-board-booking-cell [data]="request" (change)="handleEntryChanged()"></app-request-board-booking-cell>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{'REQUEST.Status.Title' | translate}}</th>
      <td mat-cell *matCellDef="let request">
        <mat-chip>{{'REQUEST.Status.' + request.status | translate}}</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let request">

        <button mat-icon-button color="primary" (click)="showNote(request)" *ngIf="request.comment.length > 0">
          <mat-icon>description</mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="cmd">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let details">
        <button mat-icon-button routerLink="./details/{{details.id}}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber"
  [pageSizeOptions]="[10, 25, 50, 100]"
  showFirstLastButtons [disabled]="reloading"
  (page)="handlePageChange($event)"
>
</mat-paginator>
