.mat-column-timestamp {
  border-right: 1px solid currentColor;
  max-width: 150px;
  text-align: center;
}
.mat-column-visitorGroup {
  border-right: 1px solid currentColor;
}
.mat-column-bookings {
  border-right: 1px solid currentColor;
}
