<mat-card>
  <mat-card-header class="d-flex flex-row gap-3 align-items-center">
    <div class="flex-fill align-items-center"><h4>{{'REQUEST.Form.Comment.Label' | translate}}</h4></div>
    <button mat-icon-button (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column gap-3">


    <ng-container [ngSwitch]="editCommentStatus">
      <ng-container *ngSwitchDefault>
        <div class="alert alert-secondary" role="alert" *ngIf="data.comment.length > 0">
          {{data.comment}}
        </div>
      </ng-container>
      <mat-progress-bar *ngSwitchCase="'updating'"></mat-progress-bar>
      <ng-container *ngSwitchCase="'edit'">
        <mat-form-field class="flex-fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput [value]="comment" #commentInput></textarea>
        </mat-form-field>
        <div class="d-flex flex-row gap-3">
          <button mat-flat-button color="warn" (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            {{'ACTIONS.Cancel' | translate}}</button>
          <button mat-flat-button color="primary" (click)="save(commentInput.value)">
            <mat-icon>save</mat-icon>
            {{'ACTIONS.Save' | translate}}</button>
        </div>
      </ng-container>
    </ng-container>

  </mat-card-content>
</mat-card>
