<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./offer" routerLinkActive="active">
        <mat-icon matListItemIcon>local_offer</mat-icon>
        <div matListItemTitle>{{'ADMIN.MENU.Offer' | translate}}</div>
      </a>
      <a mat-list-item routerLink="./booking" routerLinkActive="active">
        <mat-icon matListItemIcon>bookmarks</mat-icon>
        <div matListItemTitle>{{'ADMIN.MENU.Booking' | translate}}</div>
      </a>
      <a mat-list-item routerLink="./request" routerLinkActive="active">
        <mat-icon matListItemIcon>thumb_up_alt</mat-icon>
        <div matListItemTitle>{{'ADMIN.MENU.BookingRequest' | translate}}</div>
      </a>
      <a mat-list-item routerLink="./search" routerLinkActive="active">
        <mat-icon matListItemIcon>search</mat-icon>
        <div matListItemTitle>{{'ADMIN.MENU.SearchBooking' | translate}}</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home-toolbar></app-home-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
