<div class="fxLayoutColumn fxLayoutAlignStretchCenter fxFlexGap" style="padding-top:10px;">
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Title' | translate}}</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Size' | translate}}</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <div class="fxLayoutRow fxLayoutAlignStretchCenter fxFlexGap">
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'BOOKING.Create.Form.VisitorGroup.MinAge' | translate}}</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'BOOKING.Create.Form.VisitorGroup.MaxAge' | translate}}</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Contact' | translate}}</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Street' | translate}}</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <div class="fxLayoutRow fxLayoutAlignStretchCenter fxFlexGap">
    <mat-form-field appearance="outline" class="fxFlexNoGrow">
      <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Zip' | translate}}</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fxFlex">
      <mat-label>{{'BOOKING.Create.Form.VisitorGroup.City' | translate}}</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Phone' | translate}}</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="outline" class="fxFlex">
    <mat-label>{{'BOOKING.Create.Form.VisitorGroup.Mail' | translate}}</mat-label>
    <input matInput type="text">
  </mat-form-field>
</div>
