<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column p-2 mt-5 container">
    <mat-form-field>
      <mat-label>{{'NOTIFICATION.Field.Lang.Title' | translate}}</mat-label>
      <mat-select formControlName="lang" required>
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{'LANG.' + lang | translate}}
        </mat-option>
      </mat-select>
      <mat-hint>{{'NOTIFICATION.Field.Lang.Hint' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'NOTIFICATION.Field.Type.Title' | translate}}</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of types" [value]="type">
          {{'NOTIFICATION.Field.Type.' + type | translate}}
        </mat-option>
      </mat-select>
      <mat-hint>{{'NOTIFICATION.Field.Type.Hint' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'NOTIFICATION.Field.Subject.Title' | translate}}</mat-label>
      <input matInput type="text" formControlName="subject" required>
    </mat-form-field>


    <quill-editor formControlName="content" placeholder="Enter Text" class="pb-3"></quill-editor>

    <div class="d-flex flex-row align-self-stretch">
      <button mat-raised-button color="primary" type="submit" class="flex-grow-1 me-3">
        <mat-icon>save</mat-icon>
        {{"ACTION.Save" | translate}}
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="cancel()" class="flex-grow-1">
        <mat-icon>cancel</mat-icon>
        {{'ACTION.Cancel' | translate}}</button>
    </div>
  </div>
</form>

