<mat-progress-bar mode="indeterminate" *ngIf="dayReloading"></mat-progress-bar>
<mat-toolbar>
  <div class="d-flex flex-row align-items-baseline gap-3">
    <div>
      <button mat-mini-fab (click)="back()" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isHandset$ | async; else showFullHeader">
      <h4>{{data.date | date:'mediumDate'}} {{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</h4>
    </ng-container>
    <ng-template #showFullHeader>
      <h3>{{data.date | date:'fullDate'}} {{data.start | date:'shortTime' }} - {{data.end | date:'shortTime'}}</h3>
    </ng-template>
  </div>
</mat-toolbar>
<div class="container d-flex flex-column gap-3">
  <div class="fxFlex" *ngIf="!(isHandset$ | async)">
    <app-day-info-details-chart [data]="data"></app-day-info-details-chart>
  </div>
  <div class="fxFlex">
    <app-day-info-details-list [data]="data"></app-day-info-details-list>
  </div>
</div>

