<p class="h2" mat-dialog-title>{{title | translate}}</p>
<div mat-dialog-content>
  <!-- SELECTED BOOKING INFO -->
  <div class="alert alert-secondary" role="alert">
    <div class="d-flex flex-column align-content-stretch gap-3">
      <div class="d-flex flex-row gap-3">
        <div class="col-2">{{'REQUEST.Dialog.Confirm.Info.Start' | translate}}</div>
        <div>{{data.selectedBooking.offer.start | date:'medium'}}</div>
      </div>

      <div class="d-flex flex-row gap-3">
        <div class="col-2">{{'REQUEST.Dialog.Confirm.Info.Size' | translate}}</div>
        <div>{{data.info.visitorGroup.size}}</div>
      </div>

      <div class="d-flex flex-row gap-3">
        <div class="col-2">{{'REQUEST.Dialog.Confirm.Info.Space' | translate}}</div>
        <div>{{data.selectedBooking.spaceAvailable}}</div>
      </div>
    </div>
  </div>

  <div class="alert alert-info" role="alert" *ngIf="data.info.comment.length > 0">
    <div class="d-flex flex-column align-content-stretch gap-3">
      <div class="d-flex flex-row gap-3">
        <div class="col-2">{{'REQUEST.Dialog.Confirm.Info.Comment' | translate}}</div>
        <div>{{data.info.comment}}</div>
      </div>
    </div>
  </div>

  <mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
  <ng-container *ngIf="response">
    <form [formGroup]="fg">
      <div class="d-flex flex-column align-content-stretch">
        <mat-form-field class="fxFlex" appearance="fill">
          <mat-label>{{'REQUEST.Dialog.Confirm.Form.Subject' | translate}}</mat-label>
          <input matInput type="text" formControlName="subject">
        </mat-form-field>
        <quill-editor formControlName="content" placeholder="Enter Text" class="pb-3"></quill-editor>

        <mat-slide-toggle formControlName="silent">{{'REQUEST.Dialog.Confirm.Form.Silent' | translate}}</mat-slide-toggle>
      </div>
    </form>
  </ng-container>
</div>
<div mat-dialog-actions [align]="'end'">
  <div class="pe-3">
  <button mat-button mat-flat-button color="primary" (click)="onConfirmClick()">
    <mat-icon>check</mat-icon>
    {{confirm | translate}}</button>
  <button mat-button mat-flat-button color="warn" (click)="onCancelClick()">
    <mat-icon>cancel</mat-icon>
    {{"ACTION.Cancel" | translate}}</button>
  </div>
</div>
