<h2 mat-dialog-title>{{'OFFER.Operation.Series' | translate}}</h2>

<mat-dialog-content [formGroup]="form">
  <ng-container *ngIf="!loading; else showLoading">
    <div class="d-flex flex-column container">
      <div class="d-flex flex-row align-self-stretch">
        <mat-form-field appearance="outline" class="flex-grow-1 me-3">
          <mat-label>{{'OFFER.Series.Date' | translate}}</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>{{'OFFER.Series.Time' | translate}}</mat-label>
          <input matInput type="time" formControlName="time" required>
        </mat-form-field>
      </div>


      <mat-form-field appearance="outline">
        <mat-label>{{'OFFER.Series.Duration' | translate}}</mat-label>
        <input matInput type="number" formControlName="duration" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'OFFER.Series.Interval' | translate}}</mat-label>
        <input matInput type="number" formControlName="interval" required>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>{{'OFFER.Series.Quantity' | translate}}</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'OFFER.Series.MaxPersons' | translate}}</mat-label>
        <input matInput type="number" formControlName="maxPersons">
      </mat-form-field>

      <div class="d-flex flex-row align-self-stretch">
        <mat-form-field appearance="outline" class="flex-grow-1 me-3">
          <mat-label>{{'OFFER.Series.MinTime' | translate}}</mat-label>
          <input matInput type="time" formControlName="minTime" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>{{'OFFER.Series.MaxTime' | translate}}</mat-label>
          <input matInput type="time" formControlName="maxTime" required>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <ng-template #showLoading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()" class="me-3" [disabled]="loading">
    <mat-icon>save</mat-icon>
    {{"ACTION.Submit" | translate}}
  </button>
  <button mat-stroked-button color="warn" (click)="close()" [disabled]="loading">
    <mat-icon>cancel</mat-icon>
    {{'ACTION.Cancel' | translate}}</button>
</mat-dialog-actions>
