<mat-progress-bar mode="indeterminate" *ngIf="reloading"></mat-progress-bar>
<div class="d-flex flex-column p-0 container-fluid">
  <div class="d-flex flex-row gap-3 align-items-start px-2 pt-2 pb-0">
    <mat-form-field class="flex-fill pb-0" appearance="outline">
      <mat-label>{{'MAIL.Action.Search' | translate}}</mat-label>
      <input matInput (keyup)="keyUp.emit(input.value)" placeholder="" #input [disabled]="reloading">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="data">
    <caption>Mail Job Entries</caption>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef class="col-2">{{'MAIL.Table.Timestamp' | translate}}</th>
      <td mat-cell *matCellDef="let job">{{job.timestamp | date:'medium'}}</td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="col-2">{{'MAIL.Table.Status' | translate}}</th>
      <td mat-cell *matCellDef="let job"><mat-chip>{{'MAIL.Status.' + job.status | translate}}</mat-chip></td>
    </ng-container>

    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef>{{'MAIL.Table.Title' | translate}}</th>
      <td mat-cell *matCellDef="let job">{{job.title}}</td>
    </ng-container>

    <ng-container matColumnDef="cmd">
      <th mat-header-cell *matHeaderCellDef class="col-1"></th>
      <td mat-cell *matCellDef="let job">
        <button mat-icon-button routerLink="./history/{{job.id}}">
          <mat-icon>history</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber"
  [pageSizeOptions]="[10, 25, 50, 100]"
  showFirstLastButtons [disabled]="reloading"
  (page)="handlePageChange($event)"
>
</mat-paginator>
