<h1 mat-dialog-title>
  {{"RESPONSE.Dialog.Delete.Title" | translate:data}}
</h1>
<div mat-dialog-content>
  <p>{{"RESPONSE.Dialog.Delete.Question" | translate}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-stroked-button color="primary" (click)="onYesClick()">
    <mat-icon>check</mat-icon>
    {{"ACTION.Yes" | translate}}</button>
  <button mat-button mat-stroked-button color="warn" (click)="onNoClick()">
    <mat-icon>cancel</mat-icon>
    {{"ACTION.No" | translate}}</button>
</div>
