<mat-progress-bar mode="indeterminate" *ngIf="this.dayInfoService.reloading | async"></mat-progress-bar>
<div class="d-flex flex-column p-2 container-fluid gap-3">
  <div class="d-flex flex-row gap-3 align-items-start px-2 pt-2 pb-0">

    <mat-form-field appearance="outline" class="date-range-selector">
      <mat-label>{{'DAY_INFO.SelectRange.Title' | translate}}</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
        <input matStartDate formControlName="start" placeholder="{{'DAY_INFO.SelectRange.StartDate' | translate}}">
        <input matEndDate formControlName="end" placeholder="{{'DAY_INFO.SelectRange.EndDate' | translate}}">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-fab (click)="clearSelection()" color="primary" *ngIf="range.valid">
      <mat-icon>cancel</mat-icon>
    </button>

    <div class="flex-fill"></div>
  </div>
  <div class="d-flex flex-row flex-wrap gap-3">
    <ng-container *ngFor="let data of this.dayInfoService.data">
      <app-booking-board-entry [data]="data" class="booking-board-entry"></app-booking-board-entry>
    </ng-container>
  </div>
</div>



