<mat-toolbar color="primary">
  <div class="d-flex flex-row flex-grow-1 align-items-center justify-content-start">
    <div class="flex-grow-0 px-3">
      <ng-container *ngIf="isHandset$ | async; else showHomeButton">
        <button mat-icon-button routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
      </ng-container>
      <ng-template #showHomeButton>
        <button mat-stroked-button routerLink="/">
          <mat-icon>home</mat-icon>
          <span>{{'MENU.Home' | translate}}</span>
        </button>
      </ng-template>
    </div>
    <div class="flex-grow-1"></div>
    <div class="px-1">
      <h3 style="font-size: 2vw;">{{ service.title | translate}}</h3>
    </div>
    <div class="flex-grow-1"></div>

    <ng-container *ngIf="isHandset$ | async; else showMenuButton">
      <button mat-icon-button [matMenuTriggerFor]="mainmenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>

    <ng-template #showMenuButton>
      <button mat-flat-button [matMenuTriggerFor]="mainmenu">
        <mat-icon>more_vert</mat-icon>
        <span>{{'MENU.Title' | translate}}</span>
      </button>
    </ng-template>


    <mat-menu #mainmenu="matMenu">

      <ng-container *ngIf="auth.isAuthenticated$ | async">
        <h4 mat-menu-item>{{(auth.user$ | async)?.name}}</h4>
        <mat-divider></mat-divider>
      </ng-container>

      <button mat-menu-item [matMenuTriggerFor]="langmenu">
        <mat-icon>language</mat-icon>
        <span>{{'MENU.Language' | translate}}</span>
      </button>

      <button mat-menu-item (click)="showHelp()">
        <mat-icon>help</mat-icon>
        <span>{{'MENU.Help' | translate}}</span>
      </button>

      <ng-container *ngIf="auth.isAuthenticated$ | async">
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>{{'MENU.Home' | translate}}</span>
        </button>

        <button mat-menu-item routerLink="/backoffice">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>{{'MENU.Backoffice' | translate}}</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button mat-menu-item (click)="auth.logout({ returnTo: document.location.origin })">
          <mat-icon>logout</mat-icon>
          <span>{{'MENU.Logout' | translate}}</span>
        </button>
      </ng-container>

      <ng-template #loggedOut>
        <button mat-menu-item (click)="auth.loginWithRedirect()">
          <mat-icon>login</mat-icon>
          <span>{{'MENU.Login' | translate}}</span>
        </button>
      </ng-template>
    </mat-menu>


    <mat-menu #langmenu="matMenu">
      <button mat-menu-item (click)="setLanguage('en')">
        <mat-icon *ngIf="lang == 'en'">checked</mat-icon>
        {{'LANG.English' | translate}}</button>
      <button mat-menu-item (click)="setLanguage('de')">
        <mat-icon *ngIf="lang == 'de'">checked</mat-icon>
        {{'LANG.German' | translate}}</button>
    </mat-menu>
  </div>
</mat-toolbar>
